@import '../modules/mixins.scss';
@import '../modules/variable.scss';

@media (min-width: 560px) {
.nav {
    margin-top: 24px;
    .menu-nav {
        @include flexRight(row);
        &__item {
            margin-right: 32px;
            padding-bottom: 6px;
            @include position(relative);
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-white;
                opacity: 0;
                transition: all 0.2s linear;
            }
            &:hover::after {
                opacity: 1;
                bottom: -1px;
            }
        }
    }
}
}